<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trigunar Travel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

</head>

<body>
    <header class="app-bar">
        <div class="app-bar__title">
            <h1>Trigunar</h1>
        </div>
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><a href="#/kota">Tri Kota</a></li>
                <li><a href="#/paket-wisata">Paket Wisata</a></li>
                <li><a href="#/tentang-kita">Tentang Kita</a></li>
                <li><a href="#/login">Login</a></li>
            </ul>
        </nav>
    </header>


    <main id="main-content" class="main-content">

    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-pembungkus">
            <div class="footer__social">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
            <div class="footer__links">
                <a href="#">About</a>
                <a href="#">Contact Us</a>
                <a href="#">Our Team</a>
            </div>
        </div>
        <div class="footer-deskripsi">
            <p>Trigunar Travel © All RIGHTS RESERVED</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
</body>

</html>